#game-body {
    background: linear-gradient(to right, rgb(230, 0, 30), rgb(30, 0, 230));
}

#title-game{
   text-align: center;
   font-size: xx-large;
   color: white;
}

#grid-game {
    display: grid;
    justify-content: center;
    align-content: center;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    margin: 50px 0;
}

.cell {
    border: 1px solid whitesmoke;
    width: 100px;
    height: 100px;
    cursor: pointer;
    text-align: center;
    font-size: 75px;
    color:whitesmoke;
}

/* 
how to remove the top, right, bottom and left border of the whole grid.

credit section in read.me file
https://dev.to/pat_the99/how-to-remove-outside-borders-of-a-3x3-grid-using-css-e-g-tic-tac-toe-ui-4ao8 
*/

/* For the first row */
.cell:nth-child(-n + 3) {
    border-top: none;
} 
/* For the last column */
.cell:nth-child(3n) {
    border-right: none;
}
/* For the first column */
.cell:nth-child(3n  - 2) {
    border-left: none;
} 
/* For the last row */
.cell:nth-child(n + 7) {
    border-bottom: none;
}

#turn-message {
    text-align: center;
    font-size: x-large;
    color: whitesmoke;
    padding: 25px 0;
}

#player1-score{
    float:left;
    margin-left: 15%;
    color: whitesmoke;
}

#player2-score{
    float:right;
    margin-right: 15%;
    color:whitesmoke;
}

#end-game {
    margin-top: 50px;
}